{% extends "base.html" %}
{% block content %}
<div class="container">
    <h6>Book ODM - R in CRUD</h6>
    <table>
        <tr class="white-text blue darken-4">
            <th>Title</th>
            <th>Author</th>
            <th>Year</th>
        </tr>
        {% for book in books_pagination %}
        <tr class="{{loop.cycle('white','blue-grey lighten-5')}}">
            <td><a href="{{url_for('edit_book', book_id=book.id)}}"><i
                        class="material-icons blue-text text-darken-4">create</i></a>
                <a href="{{url_for('delete_book', book_id=book.id)}}"><i
                        class="material-icons pink-text text-darken-1">delete_forever</i></a>&nbsp;&nbsp;&nbsp;{{book.title}}
            </td>
            <td>{{book.author}}</td>
            <td>{{book.year}}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}